{% extends 'encyclopedia/layout.html' %}

{% block body %}
    <h1>Add New Article</h1>

    {% block new_entry %}
        <form  action="{% url 'form_entry' %}" method="post" id="form_entry"
            name="form_entry" style="display: flex; flex-direction: column; gap:
                10px; align-items: center; height: 83vh;">
            {% csrf_token %}
            <input style="width: 80%;" type="text" name="title" placeholder="Title">
            <textarea name="content" id="form_entry" form="form_entry" cols="30" rows="10"></textarea>
            <input style="width: 20%; align-self: end; margin-right: 10%;" type="submit" value="Send Data">
        </form>
    {% endblock new_entry %}

{% endblock body %}
